.failPay {
  text-align: center;
  margin-top: 70px;

  h1 {
    color: #e74c3c;
    margin-bottom: 10px;
  }

  p {
    color: #555;
    margin-bottom: 20px;
  }

  a {
    display: block;
    width: 150px;
    margin: 0 auto;
    border: none;
    padding: 10px;
    color: white;
    background-color: #e74c3c;
    text-decoration: none;
    border-radius: 5px;
    transition: background 0.3s;

    &:hover {
      background-color: #c0392b;
    }
  }
}
