.login {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  form {
    display: flex;
    flex-direction: column;
    width: 300px;
    border: 1px solid #999;
    padding: 25px;
    border-radius: 8px;
    box-shadow: 0 0 15px 2px rgba($color: #000000, $alpha: 0.3);

    h2 {
      margin-bottom: 24px;
    }
    label {
      margin-bottom: 5px;
      font-weight: 500;
    }
    input {
      margin-bottom: 24px;
      padding: 10px;
      border: 1px solid #999;
      border-radius: 4px;
    }
    button {
      margin-top: 5px;
      padding: 10px;
      border: 1px solid #999;
      border-radius: 4px;
      cursor: pointer;
    }
  }
}
