.successPay {
  text-align: center;
  margin-top: 70px;
  h1 {
    color: #1dbf73;
  }
  a {
    display: block;
    width: 150px;
    margin: 0 auto;
    margin-top: 20px;
    border: none;
    padding: 10px;
    color: white;
    background-color: #1dbf73;
    text-decoration: none;
  }
}
